# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# VitePress
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/blog/_local/
docs/.trash/
# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
.env.*

# Archives
*.zip
